<%!
import (
"bitbucket.com/asterus/debtstracker-server/gae_app/debtstracker/models"
)
%>


<%: func heroContactBalance(title string, balance models.Balance, buffer *bytes.Buffer) %>
<% if len(balance) > 0 { %>
<div class=col-sm>
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan=2 nowrap><%=s title %></th>
        </tr>
        </thead>
        <tbody>
        <% for currency, value := range balance { %>
        <tr>
            <td><%=v currency %></td>
            <td class=d><%=v value %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
<% } %>
